html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: lightgray;
}

body {
  width: 100%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Copperplate', fantasy;
  font-size: 10px;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Copperplate', fantasy;
  color: #BDBDBD;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: lightgray;
  padding: 1%;
  border-radius: 25px;
}

nav {
  height: 50px;
  background-color: lightgray;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
  width: 100%;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

.input[type="text"] {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
}

/* || main layout */

main {
  display: flex;
}

article {
  height: 1000px;
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: lightgray;
  border-radius: 25px;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}



.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right, .middle{
  border-radius: 25px;
  width: 30%;
  margin-bottom: 10px;
}

.right{
  float: right;
}

.middle{
  margin-left: 10px;
  margin-right: 10px;

}

.bottomR {
  border-radius: 25px;
  width: 46%;
  float: right;
}

.bottomL {
  border-radius: 25px;
  width: 46%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.formRight {
  float: left;
  width: 45%;
}

select{
  width: 100%;
  height: 50px;
  float: left;
}

